﻿<html>
<head>
	
</head>

<h2><font color="blue">Castles</font></h2>
<div>Please type array of integers.</div><br>
<div ng-app="myApp" ng-controller="castles">
<textarea ng-model="inputArray" type="text" rows="3" cols="40" style="vertical-align:bottom;"></textarea>
<button type="button" ng-click="getInput()" style="vertical-align:bottom;">Build!</button><br>
<span ng-bind="output"></span>
</div>
<hr>
<h2><font color="blue">Transformers</font></h2>
<div id="app2div" ng-app="myApp2" ng-controller="transformer">
<textarea ng-model="inputTrans" type="text" rows="15" cols="50" style="vertical-align:bottom;"></textarea>
<button type="button" ng-click="getTransInput()" style="vertical-align:bottom;">Battle!</button><br>
<span ng-bind-html="transOutput"></span>
</div>

<script src="angular.min.js"></script>
<script src="castles.js"></script>
<script src="transformerBean.js"/></script>
<script src="transformer.js"></script>

</html>